DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=microservicio_db
DB_PORT=5432

CONTRATOS_PORT=3002
USUARIOS_PORT=3003
PLANES_PORT=3004
PRODUCTOS_PORT=3005
SOPORTE_PORT=3006
AUDITORIA_PORT=3007
PAGOS_PORT=3008

GATEWAY_PORT=3001
MS_RUTAS_URL=auditoria:http://ms-auditoria:${AUDITORIA_PORT},contratos:http://ms-contratos:${CONTRATOS_PORT},planes:http://ms-planes:${PLANES_PORT},productos:http://ms-productos:${PRODUCTOS_PORT},soporte:http://ms-soporte:${SOPORTE_PORT},usuarios:http://ms-usuarios:${USUARIOS_PORT},pagos:http://ms-pagos:${PAGOS_PORT}

FRONTEND_PORT=5173
CORS_ORIGIN=http://localhost:5173

VITE_KEYCLOAK_URL=https://underarm-those-stardust.ngrok-free.dev
VITE_KEYCLOAK_REALM=sistema-centralizado
VITE_KEYCLOAK_CLIENT_ID=p10

KEYCLOAK_URL=https://underarm-those-stardust.ngrok-free.dev
KEYCLOAK_REALM=sistema-centralizado
KEYCLOAK_CLIENT_ID=p10

UCNPAY_BASE_URL=https://proyectogestionti.onrender.com/api
UCNPAY_PRIVATE_KEY=your_ucnpay_private_key_here