@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "tailwindcss";

:root {
  font: 18px/145% system-ui, "Segoe UI", Roboto, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  text-align: initial;
  border-inline: none;
  min-height: 100svh;
  display: block;
  box-sizing: border-box;
}
